<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

  <strong>Description:</strong>
  <%= @post.description.to_sentences.each do |sentence| %>
    <p><%= sentence %> - <%= sentence.length %></p>
  <% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
